@page "/countries"

<h3 class="text-center">Countries</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            @if (CountryList.Count == 0)
            {
                <span class="text-warning text-center text-capitalize fst-italic"><text>Loading countries...</text></span>
            }
            else
            {
                <select class="form-select" @onchange="@((e) => SelectCountry(e))">
                    <option selected>Select Country</option>
                    @foreach (var item in CountryList)
                    {
                        <option value="@item.Name">@item.Name</option>
                    }
                </select>
            }
        </div>
    </div>
</div>
