@page "/calculate/vat"

@rendermode InteractiveServer

<h3 class="text-center">Vat Calculator</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col">            
           <Countries></Countries>
        </div>
    </div>
</div>


